@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                <i class="fas fa-user me-1"></i>@User.Identity?.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                            <i class="fas fa-lock me-2"></i>Administration
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                }
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="post">
                        <button type="submit" class="dropdown-item">
                            <i class="fas fa-sign-out-alt me-2"></i>Déconnexion
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <i class="fas fa-sign-in-alt me-1"></i>Connexion
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-user-plus me-1"></i>Inscription
            </a>
        </li>
    }
</ul>